
.button {
    background-color: var(--color-ink);
    color: var(--color-canvas);
    padding: var(--ye-spacing-rem-xsmall) var(--ye-spacing-rem-large);
    min-width: var(--ye-width-normal);
    font-size: var(--ye-font-size-normal);
    border-radius: var(--ye-radius-huge);
    margin: 0 auto;
}

.isDisabled {
    opacity: 0.4;
    cursor: not-allowed;
}