.feedCard {
  display: flex;
  flex-direction: column;
  gap: var(--ye-spacing-rem-small);
  padding: var(--ye-spacing-rem-large);
  border-radius: var(--ye-radius-large);
  max-width: 300px;
  flex: 1;
  justify-content: space-between;
}

.feedImage {
  width: var(--full-size);
  object-fit: cover;
  border-radius: var(--ye-radius-huge);
  height: 200px;
}

.feed {
  display: flex;
  gap: var(--ye-spacing-rem-xsmall);
}

.feedHeader {
  display: flex;
  gap: var(--ye-spacing-rem-small);
  align-items: flex-start;
}

.userFirstLetter {
  padding: var(--ye-spacing-rem-small);
  width: 12px;
  height: 12px;
  background-color: #b50724;
  color: #fff;
  font-weight: var(--ye-font-weight-semibold);
  border-radius: var(--ye-radius-circle);
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionButton {
  display: flex;
  width: var(--full-size);
  justify-content: space-between;
  align-items: center;
}

.likeButton,
.sendButton {
  display: flex;
  gap: var(--ye-spacing-rem-tiny);
  align-items: center;
  box-shadow: none;
}

.likeButton:hover {
  transform: scale(1.05);
}

.sendButton {
  background-color: #e3e1e1;
  border-radius: var(--ye-radius-xhuge);
  padding: var(--ye-spacing-rem-tiny) var(--ye-spacing-rem-small);
  font-size: var(--ye-font-size-small);
  font-weight: var(--ye-font-weight-semibold);
}

.sendButton:hover {
  background-color: #000;
  color: #fff;
}

.icon {
  width: 20px;
  height: 20px;
}

.isLiked {
  color: #b50724;
}

.username {
  font-size: var(--ye-font-size-normal);
  font-weight: var(--ye-font-weight-semibold);
}

.subtitle {
  font-size: var(--ye-font-size-small);
  color: #8b898c;
}

.feedDiscription {
    font-size: var(--ye-font-size-small); 
}
